.rooms-hero {
  height:60vh;
  background:
  linear-gradient(
  rgba(0,0,0,0.45),
  rgba(0,0,0,0.45)
  ),
  url("../images/rooms/executive/executive6.JPG");
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
}

.rooms-container {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:35px;
}

.rooms {
  padding:80px 10%;
  background:#f8f9fa;
}

.rooms h2 {
  text-align:center;
  font-size:2.7rem;
  color:teal;
  margin-bottom:60px;
}

.room-card {
  background:white;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,0.12);
  transition: .4s ease;

}

.room-card:hover {
  transform:translateY(-12px);
}

.room-image {
  position:relative;
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 270px;
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity .8s ease,
  transform .6s ease;
}

.active-image {
  opacity: 1;
}

.next-image {
  opacity: 0;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.carousel-image.fade {
  opacity: 0;
  transform: scale(1.03);
}

.carousel-dots{
  position:absolute;
  bottom:15px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:8px;
  z-index: 2;
}

.dot{
  width:10px;
  height:10px;
  background:white;
  border-radius:50%;
  cursor:pointer;
  opacity:.5;
  transition:.3s;
}

.dot.active {
  opacity: 1;
  background: teal;
  transform: scale(1.2);
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: rgba(0,0,0,.5);
  color: white;
  z-index: 2;
  cursor: pointer;
  font-size: 1rem;
}

.prev-btn{
  left:15px;
}

.next-btn{
  right:15px;
}

.prev-btn:hover,
.next-btn:hover{
  background:teal;
}

.room-image img {
  width:100%;
  height: 270px;
  object-fit:cover;
  transition:transform 0.5s ease;
}

.room-tag {
  position:absolute;
  top:20px;
  right:20px;
  background:teal;
  color:white;
  padding:8px 15px;
  border-radius:30px;
  font-weight:bold;
  font-size: .85rem;
}

.room-content {
  padding:30px;
}

.room-content h3 {
  color:teal;
  font-size:1.8rem;
  margin-bottom:15px;
}

.room-content p {
  color:#666;
  line-height:1.7;
  margin-bottom: 25px;
}

.room-content ul {
  list-style:none;
  margin:30px;
}

.room-content li {
  margin-bottom:12px;
  color:#555;
}

.room-content i {
  color:teal;
  margin-right:10px;
}

.room-footer {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.room-footer h4 {
  font-size:1.4rem;
  color: teal;
}

.room-btn {
  padding:12px 24px;
  background:teal;
  color:white;
  text-decoration:none;
  border-radius:8px;
  transition: .3s;
}

.room-btn:hover {
  background: #007777
}

.hidden {
  opacity:0;
  transform:translateY(50px);
  transition:all 0.8s ease;
}

.show {
  opacity:1;
  transform:translateY(0);
}